@import "./variables";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@mixin font-h1 {
  font-family: "Pretendard", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 140%;
}

@mixin font-h2 {
  font-family: "Pretendard", sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 140%;
}

@mixin font-h3 {
  font-family: "Pretendard", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 140%;
}

@mixin font-h4 {
  font-family: "Pretendard", sans-serif;
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 140%;
}

@mixin font-m {
  font-family: "Pretendard", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 140%;
}

@mixin font-BL {
  font-family: "Pretendard", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 140%;
}

@mixin font-body {
  font-family: "Pretendard", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 140%;
}

@mixin font-cap {
  font-family: "Pretendard", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 140%;
}

@mixin font-small {
  font-family: "Pretendard", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 140%;
}
