:root {
  --color-main: linear-gradient(
    45deg,
    rgba(173, 70, 255, 0.2),
    rgba(246, 51, 154, 0.2)
  );
  --color-main-purple: #ad46ff;
  --color-main-pink: #f6339a;
  --color-black: #222;
  --color-white: #fff;
  --color-font-sub: #9ca3af;
  --color-bg: #0b050b;
}
