:root {
  --color-main: linear-gradient(
    331deg,
    rgba(108, 140, 255, 1),
    rgba(155, 92, 255, 1)
  );

  --color-blue: #6c8cff;
  --color-purple: #9b5cff;
  --color-green: #2ed3b7;
  --text-black: #1a1a1a;
  --text-sub: #64748b;
  --text-light: #666;
  --text-muted: #9ca3af;
  --text-white: #fff;
  --color-bg: #f7f8fa;
}
