@use "./variables" as v;
@use "./font" as f;
@use "./mixin" as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button,
input {
  font-family: inherit;
}

html {
  font-size: 16px;
}

body {
  @include f.font-body;
  overflow-x: hidden;
  background-color: #f5f5f5;
}
