@use "../../assets/scss/mixin" as *;
@use "../../assets/scss/variables" as *;
@use "../../assets/scss/font" as *;

#intro {
  position: relative;
  z-index: 1;

  @include flex-layout(column, center);
  width: 100%;
  height: auto;
  min-height: 100vh;
  .title {
    height: 100%;
    @include flex-layout(column, center, center, 1.5rem);
    text-align: center;

    h1 {
      // @include font-h1;
      font-size: clamp(3rem, 6vw + 1rem, 7.5rem);
      line-height: 1.2;
      word-break: keep-all;
    }
    .intro-date {
      color: #9ca3af;
    }
  }
  .bottom {
    padding-top: 5rem;
    @include flex-layout(column, center, center, 0.5rem);
    p {
      color: rgba(255, 255, 255, 0.6);
    }
    .down-icon {
      color: rgba(255, 255, 255, 0.6);
      width: 24px;
      height: 24px;
      animation: float 1.5s ease-in-out infinite;
    }
  }
}

// 애니메이션
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); // 위로 5px 이동
  }
  100% {
    transform: translateY(0); // 원위치
  }
}
