@use "../../assets/scss/mixin" as *;
@use "../../assets/scss/variables" as *;
@use "../../assets/scss/font" as *;

#projects {
  @include flex-layout(column, center, flex-start, 0);
  width: 100%;
  min-height: auto;
  margin: 0 auto;
  padding: 3rem 1.25rem;

  .project-zip {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;

    @include flex-layout(column, center, flex-start, 2rem);

    .pro-title {
      @include flex-layout(column, center, flex-start, 0.75rem);

      > h3 {
        @include font-h2;
      }

      .pro-line {
        width: 48px;
        height: 4px;
        background: var(--color-main);
      }
      .pro-desc {
        color: var(--text-sub);
        max-width: 520px;
        line-height: 1.6;
        padding-top: 1rem;
      }
    }
  }

  /* PC 메뉴 */

  .pro-pcmenu {
    display: none;

    @include desktop {
      @include flex-layout(row, flex-start, center);
      padding-bottom: 1.5rem;

      ul {
        @include flex-layout(row, flex-start, center, 0.5rem);

        li {
          position: relative;
          padding: 0.9rem 1.6rem;
          font-weight: 500;
          cursor: pointer;
          color: var(--text-sub);
          transition: color 0.3s ease;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 100%;
            height: 2px;
            background: var(--color-main);
            border-radius: 2px;

            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
          }

          &:hover {
            color: var(--text-black);

            &::after {
              transform: scaleX(1);
            }
          }

          &.active {
            color: var(--text-black);

            &::after {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }

  /* Mobile 메뉴 */

  .pro-mbmenu {
    position: relative;
    width: 100%;
    z-index: 10;

    @include flex-layout(row, flex-end, center);

    @include desktop {
      display: none;
    }

    .label {
      padding: 0.8rem 1.5rem;
      border: none;
      background: none;
      font: inherit;
      cursor: pointer;

      @include flex-layout(row, space-between, center, 0.5rem);
    }

    .arrow {
      line-height: 0;
      transition: transform 0.3s ease;

      &.open {
        transform: rotate(180deg);
      }
    }

    .dropdown {
      position: absolute;
      top: 48px;
      right: 0;

      width: 150px;
      max-height: 0;

      overflow: hidden;
      opacity: 0;

      background: var(--color-bg);
      border-radius: 16px;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);

      transition:
        max-height 0.3s ease,
        opacity 0.3s ease;

      li {
        padding: 0.5rem 1rem;
        text-align: center;
        border-radius: 0.5rem;
        cursor: pointer;

        color: var(--text-sub);
        transition: 0.2s;

        &:hover {
          background: rgba(0, 0, 0, 0.04);
          color: var(--text-black);
        }

        &.active {
          background: rgba(0, 0, 0, 0.04);
          color: var(--text-black);
        }
      }
    }

    .dropdown.open {
      max-height: 300px;
      opacity: 1;
      padding: 1rem;
    }
  }

  /* 태블릿 */

  @include tablet {
    padding: 4rem 2rem;

    .project-zip {
      gap: 3rem;

      .pro-title {
        > h3 {
          @include font-h1;
        }

        .pro-line {
          width: 56px;
        }
        .pro-desc {
          max-width: 560px;
        }
      }
    }
  }

  /* 데스크탑 */

  @include desktop {
    padding: 6rem 2rem;

    .project-zip {
      gap: 4rem;

      .pro-title {
        .pro-line {
          width: 64px;
        }
        .pro-desc {
          max-width: 620px;
        }
      }
    }
  }
}
