@use "../../assets/scss/mixin" as *;
@use "../../assets/scss/variables" as *;
@use "../../assets/scss/font" as *;

#skills {
  max-width: 1500px;
  margin: 0 auto;

  padding-top: 1.5rem;
  width: 100%;
  height: auto;
  min-height: 100vh;
  @include desktop {
    padding: 3rem;
  }
  .skills-zip {
    width: 100%;
    @include flex-layout(column, center, center, 1.5rem);
    .skills-txt {
      @include flex-layout(column, center, center, 1.5rem);

      padding: 0 2rem;
      text-align: center;
      h3 {
        @include font-h3;
      }
    }
  }
}
