@use "../assets/scss/mixin" as *;
@use "../assets/scss/variables" as *;
@use "../assets/scss/font" as *;

#projectsdetail {
  max-height: 100vh;
  height: auto;
  overflow-y: auto;
  padding: 24px;
  @include flex-layout(column, flex-start, flex-start, 24px);
  .top {
    @include flex-layout(column, center, flex-start, 24px);
    padding: 1.5rem 0;
    width: 100%;
  }
  .links {
    width: 100%;
    > ul {
      @include flex-layout(column, center, flex-start, 1.5rem);
      @include desktop {
        @include flex-layout(row, flex-start, center, 2.5rem);
      }
      > li {
        > a {
          @include font-BL;
          transition: 0.3s;
          &:hover {
            color: var(--color-font-sub);
          }
        }
      }
    }
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  .table {
    .title {
      @include font-m;
    }
    @include flex-layout(column, center, flex-start, 1.5rem);
    .team {
      width: 100%;
    }
    .main,
    .role,
    .troubleShooting,
    .insights {
      @include flex-layout(column, center, flex-start, 1rem);
      > ul {
        @include flex-layout(column, center, flex-start, 0.5rem);
        padding-left: 1.5rem;
        > li {
          list-style-type: disc;
        }
      }
    }
    .stack {
      @include flex-layout(column, center, flex-start, 1rem);
      .stack-group {
        @include flex-layout(column, center, flex-start, 0.5rem);
        .stack-tags {
          @include flex-layout(row, flex-start, center, 1rem);
          flex-wrap: wrap;
          .stack-tag {
            @include font-small;
            padding: 0.5rem;
            background: rgba(255, 255, 255, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 0.5rem;
          }
        }
      }
    }
    .troubleShooting {
      .issue {
        @include flex-layout(column, center, flex-start, 0.5rem);
        .problem {
          color: #fca5a5;
        }
        .solve {
          color: #86efac;
        }
      }
    }
  }
}
