@use "../../assets/scss/mixin" as *;
@use "../../assets/scss/variables" as *;
@use "../../assets/scss/font" as *;

header {
  position: fixed;
  z-index: 20;
  padding: 1rem;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(8, 8, 14, 0.98),
    rgba(8, 8, 14, 0.85),
    rgba(8, 8, 14, 0.6)
  );
  backdrop-filter: blur(8px);
  .header-desktop {
    display: none;
    @include desktop {
      @include flex-layout(row, flex-end);
    }
    ul {
      @include font-BL();
      @include flex-layout();
      li {
        @include flex-layout();
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        transition: 0.3s;
        cursor: pointer;
        color: var(--color-font-sub);
        &:hover {
          color: var(--color-white);
        }
        &.active {
          color: var(--color-white);
          font-weight: 600;
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
