@use "../../assets/scss/mixin" as *;
@use "../../assets/scss/variables" as *;
@use "../../assets/scss/font" as *;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background-color: var(--color-bg);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0.75rem 1rem;
  @include tablet {
    padding: 1rem 2rem;
  }
  @include desktop {
    padding: 1rem 3rem;
  }
  .header-inner {
    max-width: 1500px;
    margin: 0 auto;
    @include flex-layout(row, space-between, center);
  }
  .header-desktop {
    display: none;
    @include desktop {
      display: block;
    }
    > ul {
      @include flex-layout(row, center, center, 3rem);
      @include font-BL();
      > li {
        position: relative;
        display: block;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        color: var(--text-sub);
        transition:
          color 0.3s,
          background-color 0.3s,
          transform 0.25s;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          background: var(--color-main);
          transform: scaleX(0);
          transform-origin: center;
          transition: transform 0.3s;
        }
        &:hover {
          color: var(--text-black);
          transform: translateY(-2px);
          &::after {
            transform: scaleX(1);
          }
        }
        &.active {
          color: var(--text-black);
          font-weight: 600;
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}
