@use "../../assets/scss/mixin" as *;
@use "../../assets/scss/variables" as *;
@use "../../assets/scss/font" as *;

.skills-card {
  padding: 1.5rem;
  width: 100%;
  max-width: 1500px;

  margin: 0 auto;
  .skills-item {
    @include flex-layout(column, center, flex-start, 1rem);
    @include tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      align-items: stretch;
    }
    @include desktop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      align-items: stretch;
    }
    .card {
      @include flex-layout(column, flex-start, flex-start, 1rem);
      width: 100%;
      padding: 1.5rem;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 16px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      transition:
        background-color 0.3s,
        box-shadow 0.3s;
      &:hover {
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0 8px 20px rgba(106, 82, 255, 0.3);
      }

      .items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
        width: 100%;
        padding: 1rem 0;
        .item {
          @include flex-layout(column, center, center, 1rem);
          transition: 0.3s;
          img {
            width: 36px;
            height: 36px;
            object-fit: contain;
            aspect-ratio: 1/1;
          }
          &:hover {
            transform: scale(1.1);
          }

          .logo-icon {
            object-fit: contain;
            opacity: 0.85;
            transition: 0.3s;
          }

          .logo-icon:hover {
            opacity: 1;
          }

          .logo-txt {
            white-space: nowrap;
          }
        }
      }
    }
  }
}
