.wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  .content {
    position: relative;
    z-index: 2;
    min-height: 100vh;
  }
}
#skills,
#projects {
  width: 100%;
  min-height: 100vh;
  scroll-margin-top: 100px;
}
#contact {
  width: 100%;
  min-height: 100vh;
  scroll-margin-top: 100px;
  padding-top: 100px;
}